# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.obj

#忽略编译产生的文件
*.o
*.exe

#忽略编译输出目录
*/build/
*/bin/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app